<ion-header>
  <ion-toolbar>
    <ion-title>Abrir chamados</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">

  <ion-item>
    <ion-label position="floating">Tipo de Material</ion-label>
    <ion-input></ion-input>
  </ion-item>

</div>

<div class="alng">
  <br>
  <h3>Local de Coleta:</h3>
  <br><br> 
  <ion-button color="success">Abrir Chamado</ion-button>

</div>
</ion-content>
