<ion-header>
  <ion-toolbar>
    <ion-title>Listar chamados</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <ion-item>
      <ion-label position="floating">Tipo de Material</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cidade</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rua</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Solicitante</ion-label>
      <ion-input></ion-input>
    </ion-item>

  </div>

  <div class="alng">
    <ion-item>
      <ion-label>Habilatar as notificações chamados</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Sim</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Não</ion-label>
      <ion-checkbox color="danger"></ion-checkbox>
    </ion-item>
    <br>
    <ion-button color="success">Fechar Chamado</ion-button>

  </div>

</ion-content>
